@import url("fontawesome-free/css/fontawesome-all.min.css");
@import url("framework.css");
*{
    padding:0;
    margin:0
}
body{
    overflow-x: hidden;
    width: 100%;
    height:100%;
    min-height:100vh;
}
::-webkit-scrollbar{
    width:2px
}
::-webkit-scrollbar-thumb{
    background-color: aqua;
}
//link
a {
    color: #cccccc;
    text-decoration: none;
    @extend .main-transition;
    &:hover{
        color:#fff
    }
}dl, ol, ul {
    margin-bottom: 0;
}
sup{
    font-size: 15px;
    font-weight: bold;
}
//main-transition
.main-transition{
    transition: all .3s ease-in-out;
}
// .form-control:focus
.form-control:focus{
    outline: 0;
    box-shadow: 0 0 0 0 rgba(13,110,253,.25);
}
// main-pad
.main-pad{
    padding:20px 20px;
}
.border-bottom{
    border-color:#8c8b8b !important
}h3{
    font-size:18px;
    font-weight: bold;
    color:#fff;
    margin-bottom: 0;
}
// res-padding
.res-padding{
    padding:0
}
// res-r-padding
.res-r-padding{
    padding-right: 0;
}
.res-l-padding{
    padding-left: 0;
}
// green
.green-statues::before,.bg-success{
    background-color: green;
    color:green;
}
// red
.red-statues::before,.bg-danger{
    background-color: #dc3545;
    color:red;
}
// .worning
.bg-worning{
    background-color: #ffc107;
    color:black !important;
}
//active-link
.active-link{
    a{
        .chevron,.icon{
            color:$mainActive;
        }
    }
    
}
.new-futear{
    &::before{
        content: "";
        display: inline-block;
        border-radius: 50%;
        padding: 5px;
        /* margin: 2px; */
        margin-right: 10px;
        position: absolute;
        left: 35px;
        top: -4px;
        background-color: #22da00;
        animation: Vibrations 1.5s infinite;
    }
}
@keyframes Vibrations{
    0% {
        -webkit-transform: scale(0.9);
        transform        : scale(0.9);
        opacity          : 1;
    }
    
    100% {
        -webkit-transform: scale(2);
        transform        : scale(2);
        opacity          : 0;
    }
}
///
.form-group {
    input[type="file"]{
        opacity:0;
        z-index:3;
        position:absolute;
        top:0;
        left:0;
        height: 100%;
        cursor: pointer
    } 
    .custom_file{
        background-color:#ccc;
        position:relative;
        height:50px;
        border-radius:3px;
        span{
            display:inline-block;
            padding: 11px 17px; 
        }
        i{
            position:absolute;
            top:15px;
            right:10px
        }
    }
}
// upload-img
.upload-img{
    width: 52px;
    height: 100%;
    float: right;
    position: relative;
    right: 41px;
}
//file-path
// .form-group .custom_file span.file-path{
   
// }