@import url("fontawesome-free/css/fontawesome-all.min.css");
@import url("framework.css");
* {
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: aqua;
}

a {
  color: #cccccc;
  text-decoration: none;
}
a:hover {
  color: #fff;
}

dl, ol, ul {
  margin-bottom: 0;
}

sup {
  font-size: 15px;
  font-weight: bold;
}

.main-transition, .page-content .feature-boxes .box .content span, .page-content .feature-boxes .box, .clock, .side-bar .nav-links .dropdown-menu li a, .side-bar .nav-links .nav-link, .main-header .navbar-light .navbar-nav .nav-link, .main-header .navbar-light .navbar-brand, a {
  transition: all 0.3s ease-in-out;
}

.form-control:focus {
  outline: 0;
  box-shadow: 0 0 0 0 rgba(13, 110, 253, 0.25);
}

.main-pad {
  padding: 20px 20px;
}

.border-bottom {
  border-color: #8c8b8b !important;
}

h3 {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 0;
}

.res-padding {
  padding: 0;
}

.res-r-padding {
  padding-right: 0;
}

.res-l-padding {
  padding-left: 0;
}

.green-statues::before, .bg-success {
  background-color: green;
  color: green;
}

.red-statues::before, .bg-danger {
  background-color: #dc3545;
  color: red;
}

.bg-worning {
  background-color: #ffc107;
  color: black !important;
}

.active-link a .chevron, .active-link a .icon {
  color: #22ff16;
}

.new-futear::before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  padding: 5px;
  /* margin: 2px; */
  margin-right: 10px;
  position: absolute;
  left: 35px;
  top: -4px;
  background-color: #22da00;
  animation: Vibrations 1.5s infinite;
}

@keyframes Vibrations {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0;
  }
}
.form-group input[type=file] {
  opacity: 0;
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
}
.form-group .custom_file {
  background-color: #ccc;
  position: relative;
  height: 50px;
  border-radius: 3px;
}
.form-group .custom_file span {
  display: inline-block;
  padding: 11px 17px;
}
.form-group .custom_file i {
  position: absolute;
  top: 15px;
  right: 10px;
}

.upload-img {
  width: 52px;
  height: 100%;
  float: right;
  position: relative;
  right: 41px;
}

.main-header .bg-light {
  background-color: #f8f9fa !important;
}
.main-header .navbar-light .navbar-nav .nav-link.active, .main-header .navbar-light .navbar-nav .show > .nav-link {
  color: rgba(91, 91, 91, 0.9);
  font-weight: bold;
}
.main-header .navbar-light .navbar-nav .nav-link, .main-header .navbar-light .navbar-brand {
  color: rgba(91, 91, 91, 0.9);
  font-weight: bold;
  font-size: 16px;
  padding-top: 14px;
  padding-bottom: 4px;
}
.main-header .navbar-light .navbar-nav .nav-link:hover, .main-header .navbar-light .navbar-brand:hover {
  color: #FE5F55;
}
.main-header .navbar-light .navbar-brand {
  font-size: 20px;
  color: #FE5F55;
}
.main-header .search-wrapper {
  position: relative;
  transform: translate(-50%, -50%);
  top: 52%;
  right: 0;
}

.search-wrapper .input-holder {
  height: 52px;
  width: 55px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0);
  border-radius: 6px;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.search-wrapper.active .input-holder {
  width: 450px;
  border-radius: 50px;
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.5s cubic-bezier(0, 0.105, 0.035, 1.57);
}

.search-wrapper .input-holder .search-input {
  width: 100%;
  height: 33px;
  padding: 0px 70px 0 20px;
  opacity: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  background: transparent;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: "Open Sans", Arial, Verdana;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #FFF;
  transform: translate(0, 60px);
  transition: all 0.3s cubic-bezier(0, 0.105, 0.035, 1.57);
  transition-delay: 0.3s;
}

.search-wrapper.active .input-holder .search-input {
  opacity: 1;
  transform: translate(0, 10px);
}
.search-wrapper.active .input-holder .search-input::placeholder {
  color: red;
}

.search-wrapper .input-holder .search-icon {
  width: 70px;
  height: 45px;
  border: none;
  border-radius: 6px;
  background: #f8f9fa;
  padding: 0px;
  outline: none;
  position: relative;
  z-index: 2;
  float: right;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.search-wrapper.active .input-holder .search-icon {
  width: 35px;
  height: 35px;
  margin: 9px;
  border-radius: 30px;
}

.search-wrapper .input-holder .search-icon span {
  width: 10px;
  height: 26px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  transform: rotate(45deg);
  transition: all 0.4s cubic-bezier(0.65, -0.6, 0.24, 1.65);
}

.search-wrapper.active .input-holder .search-icon span {
  transform: rotate(-45deg);
}

.search-wrapper .input-holder .search-icon span::before, .search-wrapper .input-holder .search-icon span::after {
  position: absolute;
  content: "";
}

.search-wrapper .input-holder .search-icon span::before {
  width: 4px;
  height: 11px;
  left: 5px;
  top: 12px;
  border-radius: 2px;
  background: #FE5F55;
}

.search-wrapper .input-holder .search-icon span::after {
  width: 14px;
  height: 14px;
  left: 0px;
  top: 0px;
  border-radius: 16px;
  border: 4px solid #FE5F55;
}

.search-wrapper .close {
  position: absolute;
  z-index: 1;
  top: 14px;
  right: 20px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  transform: rotate(-180deg);
  transition: all 0.3s cubic-bezier(0.285, -0.45, 0.935, 0.11);
  transition-delay: 0.2s;
}

.search-wrapper.active .close {
  right: -50px;
  transform: rotate(45deg);
  transition: all 0.6s cubic-bezier(0, 0.105, 0.035, 1.57);
  transition-delay: 0.5s;
}

.search-wrapper .close::before, .search-wrapper .close::after {
  position: absolute;
  content: "";
  background: #FE5F55;
  border-radius: 2px;
}

.search-wrapper .close::before {
  width: 5px;
  height: 25px;
  left: 10px;
  top: 0px;
}

.search-wrapper .close::after {
  width: 25px;
  height: 5px;
  left: 0px;
  top: 10px;
}

.side-bar {
  background-image: url(../img/bg1.jpg);
  background-size: cover;
  top: 0;
  left: 0;
  height: 100%;
  width: 280px;
  position: fixed;
  z-index: 2;
}
@media (max-width: 1400px) {
  .side-bar {
    width: 20%;
  }
}
.side-bar .layout {
  background-color: #2525259c;
  width: 100%;
  overflow-x: scroll;
  height: 100%;
  padding-bottom: 130px;
}
.side-bar .side-user .user-data {
  padding-top: 2px;
}
.side-bar .side-user .user-data span {
  display: block;
  color: #d8d6d6;
  font-size: 14px;
  line-height: 20px;
}
.side-bar .side-user .user-data span.status::before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 7px;
  height: 7px;
  margin-right: 3px;
}
.side-bar .side-user img {
  max-width: 100%;
  width: 100px;
}
.side-bar .side-search input, .side-bar .side-search button {
  display: inline-block;
  background-color: rgba(81, 81, 81, 0.5);
  border: 0;
  color: #fff;
  border-radius: 0;
  font-size: 22px;
}
.side-bar .side-search button {
  border-left: 0;
  font-size: 14px;
  height: 100%;
}
.side-bar .side-search input {
  border-right: 0;
}
.side-bar .side-general .side-title {
  color: #ccc;
  font-weight: bold;
  font-size: 15px;
}
.side-bar .nav-links .nav-link {
  color: #ccc;
  font-family: initial;
  padding: 10px 20px;
}
.side-bar .nav-links .nav-link:hover {
  color: #fff;
}
.side-bar .nav-links .nav-link .icon {
  margin-right: 3px;
}
.side-bar .nav-links .nav-link .chevron {
  float: right;
  font-size: 14px;
  margin: 6px 0;
}
.side-bar .nav-links .nav-link .msg {
  float: right;
  font-size: 14px;
  font-weight: bold;
  margin: 5px 0;
  margin-right: 5px;
  padding: 0 5px;
  color: #fff;
}
.side-bar .nav-links .dropdown-menu {
  position: static;
  background-color: rgba(81, 81, 81, 0.5);
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 0;
}
.side-bar .nav-links .dropdown-menu li a {
  color: #ccc;
  font-size: 16px;
}
.side-bar .nav-links .dropdown-menu li a:hover, .side-bar .nav-links .dropdown-menu li a:focus {
  color: #fff;
  background-color: #fff0;
}
.side-bar .nav-links .dropdown-menu li a::before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  padding: 2px;
  margin: 2px;
  margin-right: 10px;
  border: 1px solid #22da00;
}
.side-bar .collection-title {
  color: #ccc;
  font-weight: bold;
  font-size: 15px;
  padding: 10px 20px;
}
.side-bar .menu-footer {
  position: absolute;
  width: 100%;
  bottom: 0vh;
  background-color: #333;
  padding: 10px 0px 10px 10px;
}
.side-bar .menu-footer .active-link .dropdown-link span {
  color: #22ff16;
}
.side-bar .menu-footer ul li {
  display: inline-block;
  position: relative;
}
.side-bar .menu-footer ul li sup {
  position: absolute;
  top: -7px;
  right: 10px;
  color: #fff !important;
  display: block;
  width: 27px;
  height: 23px;
  padding: 10px 2px 1px 3px;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
}
.side-bar .menu-footer ul li sup.bg-worning {
  color: black !important;
}
.side-bar .menu-footer ul li .footer-box {
  position: absolute;
  width: 280px;
  z-index: 5;
  left: 0;
  bottom: 50px;
}
.side-bar .menu-footer ul li .footer-box .dropdown-menu {
  position: absolute;
  padding: 0;
  border-radius: 0;
  top: auto;
  width: 101%;
  bottom: -9px;
  left: 0 !important;
}
.side-bar .menu-footer ul li .footer-box .dropdown-menu li {
  width: 100%;
  text-align: left;
}
.side-bar .menu-footer ul li .footer-box .dropdown-menu li .nav-text {
  display: block;
  font-size: 15px;
  overflow: hidden;
  color: #6d6c6c;
  text-overflow: ellipsis;
}
.side-bar .menu-footer ul li .footer-box .dropdown-menu li .nav-date {
  font-size: 13px;
  color: #929292;
  font-weight: bold;
  display: block;
  margin-top: -3px;
}
.side-bar .menu-footer ul li .footer-box .dropdown-menu li:last-child {
  text-align: center;
}
.side-bar .menu-footer ul li .footer-box .dropdown-menu .collection-title {
  color: #333;
  border-color: #333;
  border-color: #d2d2d2 !important;
}
.side-bar .menu-footer ul .master-notifi li a .nav-text {
  font-size: 22px;
  line-height: 30px;
}
.side-bar .menu-footer ul .master-notifi li a span {
  color: #848484;
}

h1 small {
  font: 0.2em normal Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  line-height: 5em;
  display: block;
}

@font-face {
  font-family: "BebasNeueRegular";
  src: url("BebasNeue-webfont.eot");
  src: url("BebasNeue-webfont.eot?#iefix") format("embedded-opentype"), url("BebasNeue-webfont.woff") format("woff"), url("BebasNeue-webfont.ttf") format("truetype"), url("BebasNeue-webfont.svg#BebasNeueRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}
.clock {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 240px;
  margin: 0 auto;
  padding: 10px 10px;
  color: #fff;
  background: #202020c2;
  text-align: center;
  z-index: 4;
  cursor: pointer;
  font: bold 12px Arial, Helvetica, sans-serif;
}
.clock #Date {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #333;
}
.clock .list-data-clock {
  width: 800px;
  margin: 0 auto;
  padding: 0px;
  list-style: none;
  margin: 0;
  padding: 0;
  color: #bbbbbb;
}
.clock li {
  text-align: center;
  display: inline-block;
  font-size: 22px;
}

#Date {
  font-family: "BebasNeueRegular", Arial, Helvetica, sans-serif;
  font-size: 36px;
  text-align: center;
  text-shadow: 0 0 5px #00c6ff;
}

#point {
  position: relative;
  -moz-animation: mymove 1s ease infinite;
  -webkit-animation: mymove 1s ease infinite;
  padding-left: 10px;
  padding-right: 10px;
}

@-webkit-keyframes mymove {
  0% {
    opacity: 1;
    text-shadow: 0 0 20px #00c6ff;
  }
  50% {
    opacity: 0;
    text-shadow: none;
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 20px #00c6ff;
  }
}
@-moz-keyframes mymove {
  0% {
    opacity: 1;
    text-shadow: 0 0 20px #00c6ff;
  }
  50% {
    opacity: 0;
    text-shadow: none;
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 20px #00c6ff;
  }
}
.page-content {
  width: 84%;
  float: right;
}
@media (max-width: 1400px) {
  .page-content {
    min-width: 80%;
  }
}
.page-content form input, .page-content form textarea {
  margin-bottom: 20px;
}
.page-content form .form-group {
  margin: 20px 0;
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
}
.page-content form .form-group .star {
  color: red;
}
.page-content form .form-group label {
  margin-bottom: 7px;
  color: #6b6a6a;
  font-size: 16px;
}
.page-content form .form-group textarea {
  min-height: 150px;
}
.page-content form .form-group .fr-wrapper.show-placeholder {
  min-height: 150px;
}
.page-content .box-content {
  background-color: #f1f1f1;
  padding: 20px 10px;
  margin: 30px 20px;
}
.page-content .box-content .head h3 {
  color: #333;
  font-size: 25px;
  margin-bottom: 20px;
}
.page-content .box-content .head h3:after {
  content: "";
  display: block;
  margin: 10px 0;
  height: 2px;
  width: 100px;
  background-color: #333;
}
.page-content .site-style input[type=color] {
  height: 49px;
}
.page-content .site-style .form-group {
  margin: 0;
  padding: 0;
  border: 0;
}
.page-content .social-media li {
  display: inline-block;
  margin: 10px 20px;
}
.page-content .social-media li:hover a {
  color: red !important;
}
.page-content .social-media li a {
  color: #333 !important;
  font-size: 25px;
}
.page-content .feature-boxes .box {
  background-color: #fff;
  border-radius: 2px;
  padding: 10px;
}
.page-content .feature-boxes .box:hover .content span.icon {
  color: #FE5F55 !important;
}
.page-content .feature-boxes .box .content {
  padding: 19px 0px 20px 20px;
  border-bottom: 1px solid #ececec !important;
}
.page-content .feature-boxes .box .content span {
  display: block;
  text-align: center;
}
.page-content .feature-boxes .box .content .box-text {
  color: #6f6e6e;
  font-weight: bold;
  font-family: serif;
}
.page-content .feature-boxes .box .content .box-number {
  font-size: 22px;
  color: #999898;
}
.page-content .feature-boxes .box .content .icon {
  font-size: 47px;
  color: #6f6e6e;
}
.page-content .feature-boxes .box .box-footer p {
  color: #9f9f9f;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 0;
}

/*# sourceMappingURL=index.css.map */
