
h1 small{
	font: 0.2em normal  Arial, Helvetica, sans-serif;
	text-transform:uppercase; letter-spacing: 0.2em; line-height: 5em;
	display: block;
}


@font-face {
    font-family: 'BebasNeueRegular';
    src: url('BebasNeue-webfont.eot');
    src: url('BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('BebasNeue-webfont.woff') format('woff'),
         url('BebasNeue-webfont.ttf') format('truetype'),
         url('BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.clock {
    position: fixed;
    bottom: 0;
    right:0;
    width:240px; 
    margin:0 auto;
    padding:10px 10px; 
    color:#fff; 
    background:#202020c2;
    text-align:center;
    z-index:4;
    cursor: pointer;
    @extend .main-transition;
    font:bold 12px Arial, Helvetica, sans-serif;
    #Date{
        font-size: 16px;
        font-weight: normal;
        margin-bottom:10px; 
        padding-bottom: 5px;
        border-bottom:1px solid #333; 
    }
    .list-data-clock {
        width:800px; 
        margin:0 auto; 
        padding:0px; 
        list-style:none; 
        margin:0;
        padding:0;
        color:#bbbbbb;
    }  
    li{
        text-align:center;
        display:inline-block;
        font-size: 22px;
    }
}

#Date { font-family:'BebasNeueRegular', Arial, Helvetica, sans-serif; font-size:36px; text-align:center; text-shadow:0 0 5px #00c6ff; }


#point { position:relative; -moz-animation:mymove 1s ease infinite; -webkit-animation:mymove 1s ease infinite; padding-left:10px; padding-right:10px; }

@-webkit-keyframes mymove 
{
0% {opacity:1.0; text-shadow:0 0 20px #00c6ff;}
50% {opacity:0; text-shadow:none; }
100% {opacity:1.0; text-shadow:0 0 20px #00c6ff; }	
}


@-moz-keyframes mymove 
{
0% {opacity:1.0; text-shadow:0 0 20px #00c6ff;}
50% {opacity:0; text-shadow:none; }
100% {opacity:1.0; text-shadow:0 0 20px #00c6ff; }	
}