.side-bar{
    background-image: url(../img/bg1.jpg);
    background-size: cover;
    top:0;
    left:0;
    height:100%;
    width:280px;
    position: fixed;
    z-index: 2;
    @media(max-width:1400px){
        width:20%;
    }
    .layout{
         background-color:#2525259c;
         width:100%;
         overflow-x: scroll;
         height:100%;
         padding-bottom: 130px;
    }//side-title
    .side-user{
        .user-data{
            padding-top:2px;
            span{
                display: block;
                color: #d8d6d6;
                font-size: 14px;
                line-height: 20px;
                &.status::before{
                    content: "";
                    display: inline-block;
                    border-radius: 50%;
                    width: 7px;
                    height: 7px;
                    margin-right: 3px;
                }
            } 
        }
        
        img{
            max-width:100%;
            width:100px
        }
    }//side-user
    .side-search{
        .form{
            // padding: 1px 8px;
            // overflow: hidden;
        }
        input,button{
            display: inline-block;
            background-color: rgba(81, 81, 81, 0.5);
            border: 0;
            color:#fff;
            border-radius: 0;
            font-size: 22px;
        }
        button{
            border-left:0;
            font-size:14px;
            height: 100%;   
        }
        input{
            border-right:0
        }
        
    }// side-search
    .side-general{
        .side-title{
            color:#ccc;
            font-weight: bold;
            font-size: 15px;
        }
    }// side-general
    .nav-links{
        .nav-link{
            color: #ccc;
            font-family: initial;
            padding:10px 20px;
            @extend .main-transition;
            &:hover{
                color:#fff
            }
            .icon{
                margin-right:3px
            }
            .chevron{
                float: right;
                font-size: 14px;
                margin: 6px 0;
            }
            .msg{
                float: right;
                font-size: 14px;
                font-weight: bold;
                margin: 5px 0;
                margin-right: 5px;
                padding: 0 5px;
                color: #fff;
            }
        }
        // .active-link{
        //     .dropdown-menu{
        //         display:block
        //     }
        // }
        .dropdown-menu{
            position: static;
            background-color: rgba(81, 81, 81, 0.5);
            border: 1px solid rgb(0 0 0 / 0%);
            border-radius: 0;
            //@extend .main-transition;
            &.open{
                //@extend .main-transition;
                //display:block !important;
            }
            li a{
                color: #ccc;
                @extend .main-transition;
                font-size:16px;
                &:hover,&:focus{
                    color: #fff;
                    background-color: #fff0;
                }
                &::before{
                    content: "";
                    display: inline-block;
                    border-radius: 50%;
                    padding: 2px;
                    margin: 2px;
                    margin-right: 10px;
                    border: 1px solid #22da00;
                }
            }
        }
    }
    .side-Extra{
        ///
    }
    .collection-title{
        color:#ccc;
        font-weight: bold;
        font-size: 15px;
        padding:10px 20px;
    }
    .menu-footer{
        position: absolute;
        width:100%;
        bottom: 0vh;
        background-color: #333;
        padding: 10px 0px 10px 10px;
        .active-link{
            .dropdown-link span{
                color:#22ff16
            }
        }
        ul{
            li{
                display:inline-block;
                position: relative;
                sup{
                    position: absolute;
                    top: -7px;
                    right: 10px;
                    color: #fff !important;
                    display: block;
                    width: 27px;
                    height: 23px;
                    padding: 10px 2px 1px 3px;
                    align-items: center;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    &.bg-worning{
                        color:black !important;
                    }
                }
                .footer-box{
                    position: absolute;
                    width: 280px;
                    z-index: 5;
                    left: 0;
                    bottom: 50px;
                    .dropdown-menu{
                        position: absolute;
                        padding: 0;
                        border-radius: 0;
                        top: auto;
                        width: 101%;
                        bottom: -9px;
                        left:0 !important;
                        // @media (max-width:22px) {}
                        li{
                            width: 100%;
                            text-align:left;
                            .nav-text{
                                display: block;
                                font-size: 15px;
                                overflow: hidden;
                                color: #6d6c6c;
                                text-overflow: ellipsis;
                            }
                            .nav-date{
                                font-size: 13px;
                                color: #929292;
                                font-weight: bold;
                                display: block;
                                margin-top: -3px;
                            }
                        }li:last-child{
                            text-align:center;
                        }
                        .collection-title{
                            color:#333;
                            border-color:#333;
                            border-color: #d2d2d2 !important;
                        } 
                    
                    } 
                }
                
            }
            .master-notifi li a {
                .nav-text{
                    font-size: 22px;
                    line-height: 30px;
                }span{
                    color:#848484;
                }
            }
        }
    }
}