.page-content{
    // padding: 20px 20px;
    width: 84%;
    float: right;
    @media(max-width:1400px){
        min-width:80%;
    }
    form{
        input,textarea{
            margin-bottom:20px;
        }
        .form-group{
            margin:20px 0;
            padding:20px 0;
            border-bottom: 1px solid #ccc;
            .star{
                color:red
            }
            label{
                margin-bottom: 7px;
                color: #6b6a6a;
                font-size: 16px;
            }
            textarea{
                min-height:150px;
            }
            .fr-wrapper.show-placeholder{
                min-height:150px;
            }
        }
    }
    .box-content{
        background-color: rgb(241, 241, 241);
        padding:20px 10px;
        margin:30px 20px;
        .head{
            h3{
                color:#333;
                font-size:25px;
                margin-bottom: 20px;
                &:after{
                    content:'';
                    display: block;
                    margin:10px 0;
                    height:2px;
                    width:100px;
                    background-color:#333
                }
            }
        }
    }
    .site-style{
        input[type="color"]{
            height:49px;
        }
        .form-group {
            margin:  0;
            padding:  0;
            border:0
        }
    }
    .social-media{
        li{
            display: inline-block;
            margin:10px 20px;
            &:hover{
                a{
                    color:red !important;
                }
            }
            a{color:#333 !important;font-size: 25px;}
        }
    }
    //feature-boxes
    .feature-boxes{
        .box{
            background-color:#fff;
            border-radius: 2px;
            padding: 10px;
            @extend .main-transition;
            &:hover{
                .content span.icon{color:$main-text-color !important;}
            }
            .content {
                padding: 19px 0px 20px 20px;
                border-bottom: 1px solid #ececec!important;
                span{
                    display:block;
                    text-align: center;
                    @extend .main-transition;
                }
                .box-text{
                    color: #6f6e6e;
                    font-weight: bold;
                    font-family: serif;
                }.box-number{
                    font-size: 22px;
                    color: #999898;
                }
                .icon{
                    font-size: 47px;
                    color: #6f6e6e;
                }
            }
            .box-footer{
                p{
                    color: #9f9f9f;
                    font-size: 16px;
                    margin-top: 5px;
                    margin-bottom: 0;
                }
            }
        }
    }
}